/* 


Okay so let's just talk things through. First of all I need to have a clear idea of what I'm making and a clear idea of what the ui will look like in order to start. So there are a 
few ideas for this first of all I can look on facebook market place and take a screen shot. 

Then I can look on other websites like booking websites and websites where you can 
customize your search. I'll find the name of the components involved and then 
get some examples from that and then I might look into find a free template 
for that and then customizing it and simplifying it. 

Then once the UI has been coded up then I can focus on sorting out the permissions 
and then I can start a connection with the api and then I can create the filters 

for the JSON queries and then I can create the web hook system for getting real time 
updates and I can create the system for multiple queries that will run in parallel 
then I can create the websocket system for real time updates and then I can 
create the email system and setup the smtp server to send email notifications 
and then once that is done then I can create the functionality in the UI to 
display the information and then I can organize this information. 


Okay so that sounds good time to look at booking websites and other marketplaces. 

Okay so let's list out the search parameters that need to be added. 

Okay so there's the brand of the vehicle. And maybe one could even search 
for multiple brands. 

Then there is the search radius. 

Then there is the age of the vehicle. 

This could be a range. 

Then there is the condition of the vehicle. This could be a multiple selection 
in order to get some what of a range. 

Okay so those are the search filters that need to be applied. 



Okay so the plan for the UI now is to create a UI component 

Modeled after the Emirates Search filter component and then add in all the 

interactive functionality to that. 

Then when I've done that I can add in the Cards as well as the Navbar, Footer 
and Hero Section. As well as CTA Section. 

Those components are already made for the most part so I'll need to style 
them and then change them according to the requirements. 

Then once that is done then I can work on creating a connection to the facebook 
API and then move through all the steps of creating the functional components. 

Then I can even add some pre-made functional components later. 


Then after that I can have a shot at adding in some moonshot 
features later. 

Okay so let's talk things through. 

First of all I have quite a clear idea of what I'm 

going to build as far as the UI components are concerned. 

I just need to get a rough draft done now and then polish 

things up later. 

Once that is done then I can focus on Creating the api 
connection and then filtering the queries and then 

I can focus on cleansing and aggregating the data 
and then rendering it to the UI and then I can focus on setting 
up the smtp server and sending emails with the details. 

The data cleansing and aggregation is when I'll focus on rendering 
out the right information and organizing the details 
so that I can easily render all the relevant information 
both to the UI and on the email. 

Okay so that sounds good so far. 

I just need to quickly get this UI done and then start on the api 
section. 



Input button types: 


Types of Search Parameters: 
1. Price Range Two Text Inputs 
2. Brands Drop Down check box menu 
3. Age Two Calendar Selectors 
4. Distance Range Slider 
5. Condition Drop down check box menu with the option for any type of condition. 

Okay so it looks like everything will be a drop down menu 
except the price range that will be a text input and it will 

be two text input boxes side by side. 

This I can fit in the first button. I will make both text 
boxes small enough to both fit in with padding. 

Okay and then we have the brands this can be a drop down menu but it will 
be a drop down menu with check boxes. You can check each box or you can check 
one box that will select all the available brands. 

And then this will be applied to the JSON search parameters. 


Then there is the age and it can either be with the number of years or it 
can be with dates. 

To start out it will be with a date so a year drop down menu where you can 

select the earliest year of production that you want to see and then you 
can select the latest year of production that you want to see. 

Okay so that's all good and well I'll probably have to have some sort 
of calendar to select the early and later dates of production. 

Next we have the distance range. 

This can be a slider and the user can select the max distance range that he 
wants to get results at. 


Then we have the condition and this can be another drop down 

menu with all the possible selections. There can also be the option 
to select any condition so as to widen the search result. 














































*/


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
